service routing protocols model multi-agent

ip routing
!
router bgp {{spine_asn}}
   bgp listen range {{leaf_evpn_loopbacks}} peer-group EVPN remote-as {{leaf_asn}}
   neighbor EVPN next-hop-unchanged
   neighbor EVPN update-source Loopback0
   neighbor EVPN ebgp-multihop 2
   neighbor EVPN send-community standard extended
   neighbor EVPN maximum-routes 100000
   !
   address-family evpn
      neighbor EVPN activate
   !
   address-family ipv4
      no neighbor EVPN activate
      exit
   !
   exit

